In [333]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import xgboost as xgb

from hyperopt import fmin, tpe, hp, STATUS_OK, Trials
from hyperopt.pyll import scope

In [291]:
data = pd.read_csv('train_kaggle.csv')

C:\Users\malis\AppData\Local\Temp\ipykernel_5532\384884337.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train_kaggle.csv')

In [292]:
data

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
0,10493832.0,Kelaniya,1209.6,756.0,5292.0,4
1,10178643.0,Moratuwa,1590.12,1060.08,6007.12,1
2,10513916.0,Wattala,2288.88,1481.04,9155.52,4
3,10334589.0,Wattala,2274.94,1739.66,9099.76,4
4,10458365.0,Kelaniya,2345.49,2069.55,9243.99,4
...,...,...,...,...,...,...
774150,10197979.0,Gampaha,3893.4,3893.4,3448.44,3
774151,10494575.0,Katunayake,6095.86,5557.99,6275.15,3
774152,10565682.0,Colombo,5121.42,4820.16,4669.53,3
774153,10351977.0,Kandy,6311.76,6311.76,5940.48,3
774154,10637635.0,Negombo,5833.5,6027.95,6611.3,3

In [293]:
data.dtypes

Customer_ID         float64
outlet_city          object
luxury_sales         object
fresh_sales          object
dry_sales            object
cluster_catgeory     object
dtype: object

In [294]:
df = data.copy()

In [295]:
df.isna().sum()

Customer_ID          2
outlet_city          2
luxury_sales        35
fresh_sales         41
dry_sales           30
cluster_catgeory     1
dtype: int64

In [296]:
for column in df.columns:
    print("Column:", column)
    print(df[column].value_counts())
    print()

Column: Customer_ID
Customer_ID
10493832.0    1
10305453.0    1
10129880.0    1
10677155.0    1
10434221.0    1
             ..
10177319.0    1
10045425.0    1
10372098.0    1
10066739.0    1
10637635.0    1
Name: count, Length: 774153, dtype: int64

Column: outlet_city
outlet_city
Colombo                   41031
Batticaloa                41012
Galle                     41010
Kalmunai                  40711
Negombo                   40703
Jaffna                    40675
Katunayake                40649
Kandy                     40534
Trincomalee               40528
Gampaha                   40252
Peliyagoda                37151
Nuwara Eliya              37102
Dehiwala-Mount Lavinia    36839
Kotte                     36788
Panadura                  36726
Wattala                   36721
Kaduwela                  36695
Homagama                  36639
Moratuwa                  36417
Kelaniya                  35970
Name: count, dtype: int64

Column: luxury_sales
luxury_sales
1029.6     62
1411.2     47
1224       47
1386       46
1123.2     45
           ..
2518.24     1
3231.52     1
2138.8      1
2852.47     1
5833.5      1
Name: count, Length: 143897, dtype: int64

Column: fresh_sales
fresh_sales
4296.6     28
6013.92    28
6193.44    26
1018.8     25
8774.04    25
           ..
1544.9      1
2910.0      1
2937.15     1
3107.0      1
4820.16     1
Name: count, Length: 257030, dtype: int64

Column: dry_sales
dry_sales
9168.72    23
3506.58    21
5085.3     21
7782.72    21
4158.0     21
           ..
4090.54     1
4220.48     1
4625.7      1
2594.25     1
6611.3      1
Name: count, Length: 270131, dtype: int64

Column: cluster_catgeory
cluster_catgeory
1        188975
6        169206
2        155060
4        131039
3         48906
4         41400
5         39531
5             9
1             9
6             8
2             4
3             1
6\            1
95            1
98            1
99            1
100.0         1
89.0          1
Name: count, dtype: int64

In [297]:
df.cluster_catgeory.unique()

array(['4', '1', '99', '2', '5', '3', '6', '6\\', 4, 2, 1, 95, 3, 98, 5,
       6, nan, 100.0, 89.0], dtype=object)

In [298]:
df.loc[df["cluster_catgeory"] == '6\\', "cluster_catgeory"] = 6

In [299]:
df["cluster_catgeory"] = df["cluster_catgeory"].fillna(0)

In [300]:
df["cluster_catgeory"] = df["cluster_catgeory"].astype(int)

In [301]:
clusters = [1, 2, 3, 4, 5, 6]
df = df[df["cluster_catgeory"].isin(clusters)]

In [302]:
df["cluster_catgeory"] = df["cluster_catgeory"].astype(str)

In [303]:
df = df.dropna(subset=["outlet_city"])

In [304]:
df = df.drop("Customer_ID", axis=1)

In [305]:
def check(column):
    words = []
    for value in df[column]:
        try:
            # Attempt to convert the value to an integer
            int_value = float(value)
        except ValueError:
            # If conversion fails, add the value to the list
            #non_integer_values.append(value)
            words.append(value)
    return words

In [306]:
# mapping values in luxury_sales
luxury_words = check("luxury_sales")
luxury_nums = [1400.00, np.nan, np.nan, 800.00, 630.00, np.nan, 1200.00, 790.00, 3200.00, 4100.00]
luxury_map = dict(zip(luxury_words, luxury_nums))

In [307]:
luxury_map

{'One thousand four hundread ruppes': 1400.0,
 'nul': nan,
 'Eight hundread ruppess': 800.0,
 'six hundread and hirty ': 630.0,
 'Thousand tow hundread ': 1200.0,
 'seven hundread and nine ruppees': 790.0,
 'Three thousand two hundread ruppess': 3200.0,
 'Four thousand one hundread ruppess': 4100.0}

In [308]:
df["luxury_sales"] = df["luxury_sales"].replace(to_replace = luxury_map)

In [309]:
# mapping values in fresh_sales
fresh_words = check("fresh_sales")
fresh_nums = [605.00, np.nan, np.nan, 3500.00, np.nan, np.nan, 13000.00, 5000.00, 2700.00]
fresh_map = dict(zip(fresh_words, fresh_nums))

In [310]:
fresh_map

{'Six hundread and five ruppes': 605.0,
 'nul': nan,
 'Three thousana and five hundread': 3500.0,
 'thirteen thousand ruppes': 13000.0,
 'Five thousand ruppes': 5000.0,
 'Two thousand seven hundread ruppess': 2700.0}

In [311]:
df["fresh_sales"] = df["fresh_sales"].replace(to_replace = fresh_map)

In [312]:
# mapping values in dry_sales
dry_words = check("dry_sales")
dry_nums = [4200.00, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]
dry_map = dict(zip(dry_words, dry_nums))

In [313]:
dry_map

{'Four thousand and two hundread ruppes': 4200.0, 'nul': nan}

In [314]:
df["dry_sales"] = df["dry_sales"].replace(to_replace = dry_map)

In [315]:
df[["luxury_sales", "fresh_sales", "dry_sales"]] = df[["luxury_sales", "fresh_sales", "dry_sales"]].astype(float)

In [316]:
df.reset_index(inplace=True, drop=True)

In [317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774147 entries, 0 to 774146
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   outlet_city       774147 non-null  object
 1   luxury_sales      774109 non-null  float64
 2   fresh_sales       774102 non-null  float64
 3   dry_sales         774110 non-null  float64
 4   cluster_catgeory  774147 non-null  object
dtypes: float64(3), object(2)
memory usage: 29.5+ MB

In [318]:
df.isna().sum()

outlet_city          0
luxury_sales        38
fresh_sales         45
dry_sales           37
cluster_catgeory     0
dtype: int64

In [319]:
df.groupby("cluster_catgeory")[["luxury_sales", "fresh_sales", "dry_sales"]].transform('mean')

        luxury_sales  fresh_sales    dry_sales
0        1748.637921  1249.938813  6742.625732
1        1563.119268  2188.484420  8436.597969
2        1748.637921  1249.938813  6742.625732
3        1748.637921  1249.938813  6742.625732
4        1748.637921  1249.938813  6742.625732
...              ...          ...          ...
774142   4070.673250  4071.420139  4069.969537
774143   4070.673250  4071.420139  4069.969537
774144   4070.673250  4071.420139  4069.969537
774145   4070.673250  4071.420139  4069.969537
774146   4070.673250  4071.420139  4069.969537

[774147 rows x 3 columns]

In [320]:
X = df.drop("cluster_catgeory", axis=1).copy()
y = df["cluster_catgeory"]

In [321]:
X

       outlet_city  luxury_sales  fresh_sales  dry_sales
0         Kelaniya       1209.60       756.00    5292.00
1         Moratuwa       1590.12      1060.08    6007.12
2          Wattala       2288.88      1481.04    9155.52
3          Wattala       2274.94      1739.66    9099.76
4         Kelaniya       2345.49      2069.55    9243.99
...            ...           ...          ...        ...
774142     Gampaha       3893.40      3893.40    3448.44
774143  Katunayake       6095.86      5557.99    6275.15
774144     Colombo       5121.42      4820.16    4669.53
774145       Kandy       6311.76      6311.76    5940.48
774146     Negombo       5833.50      6027.95    6611.30

[774147 rows x 4 columns]

In [322]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

In [323]:
X_train.shape, X_val.shape

((619317, 4), (154830, 4))

In [324]:
print(X_train.isna().sum()) 
print()
print(X_val.isna().sum())

outlet_city      0
luxury_sales    25
fresh_sales     34
dry_sales       31
dtype: int64

outlet_city      0
luxury_sales    13
fresh_sales     11
dry_sales        6
dtype: int64

train = pd.concat([X_train, y_train], axis=1)
mean_by_cat = train.groupby("cluster_catgeory")[["luxury_sales", "fresh_sales", "dry_sales"]].transform('mean')

train[["luxury_sales", "fresh_sales", "dry_sales"]] = train[["luxury_sales", "fresh_sales", "dry_sales"]].fillna(mean_by_cat)

X_train = train.drop('cluster_catgeory', axis=1)
y_train = train["cluster_catgeory"]

In [325]:
imputer = SimpleImputer(strategy='mean')
scaler = StandardScaler()
one_hot = OneHotEncoder(sparse_output=False)
encoder = LabelEncoder()

In [326]:
numerical = ["luxury_sales", "fresh_sales", "dry_sales"]
categorical = ["outlet_city"]

In [327]:
X_train[numerical] = imputer.fit_transform(X_train[numerical])
X_val[numerical] = imputer.transform(X_val[numerical])

In [328]:
X_train[numerical] = scaler.fit_transform(X_train[numerical])
X_val[numerical] = scaler.transform(X_val[numerical])

In [329]:
temp = pd.DataFrame(one_hot.fit_transform(X_train[categorical]), columns=one_hot.get_feature_names_out(), index=X_train.index)
X_train = pd.concat([X_train.drop("outlet_city", axis=1), temp], axis=1)

temp = pd.DataFrame(one_hot.transform(X_val[categorical]), columns=one_hot.get_feature_names_out(), index=X_val.index)
X_val = pd.concat([X_val.drop("outlet_city", axis=1), temp], axis=1)

In [336]:
y_train = encoder.fit_transform(y_train)
y_val = encoder.fit_transform(y_val)

# training

In [352]:
def eval(model, y_val=y_val, y_train=y_train, X_val=X_val, X_train=X_train):
    
    y_pred_val = model.predict(X_val)
    y_pred_train = model.predict(X_train)

    val_acc = accuracy_score(y_val, y_pred_val)
    train_acc  = accuracy_score(y_train, y_pred_train)

    row = {'val_acc': val_acc,
      'train_acc': train_acc}

    return row

## xgboost

In [337]:
train = xgb.DMatrix(X_train, label=y_train)
valid = xgb.DMatrix(X_val, label=y_val)

In [348]:
params = {
    'max_depth': 3,
    'eta': 0.1,
    'gamma': 0,
    'min_child_weight': 1,
    'subsample': 0.8,
    'colsample_bytree': 0.8,
    'objective': 'multi:softmax',
    'num_class': 6,
    'eval_metric': 'merror'
}

model = xgb.train(
    params=params,
    dtrain=train,
    num_boost_round=500,
    evals=[(train, 'train') , (valid, 'valid')],
    early_stopping_rounds=50
)

[0]	train-merror:0.16709	valid-merror:0.16853
[1]	train-merror:0.16918	valid-merror:0.17097
[2]	train-merror:0.13467	valid-merror:0.13488
[3]	train-merror:0.12665	valid-merror:0.12780
[4]	train-merror:0.12864	valid-merror:0.12924
[5]	train-merror:0.11917	valid-merror:0.12000
[6]	train-merror:0.10354	valid-merror:0.10437
[7]	train-merror:0.08792	valid-merror:0.08826
[8]	train-merror:0.09008	valid-merror:0.09017
[9]	train-merror:0.08159	valid-merror:0.08250
[10]	train-merror:0.07418	valid-merror:0.07502
[11]	train-merror:0.07256	valid-merror:0.07330
[12]	train-merror:0.06035	valid-merror:0.06063
[13]	train-merror:0.05799	valid-merror:0.05838
[14]	train-merror:0.05730	valid-merror:0.05762
[15]	train-merror:0.05432	valid-merror:0.05466
[16]	train-merror:0.05298	valid-merror:0.05343
[17]	train-merror:0.05131	valid-merror:0.05180
[18]	train-merror:0.04850	valid-merror:0.04914
[19]	train-merror:0.04614	valid-merror:0.04684
[20]	train-merror:0.04593	valid-merror:0.04634
[21]	train-merror:0.04257	valid-merror:0.04312
[22]	train-merror:0.03884	valid-merror:0.03933
[23]	train-merror:0.03651	valid-merror:0.03714
[24]	train-merror:0.03371	valid-merror:0.03400
[25]	train-merror:0.03200	valid-merror:0.03223
[26]	train-merror:0.03152	valid-merror:0.03200
[27]	train-merror:0.03052	valid-merror:0.03096
[28]	train-merror:0.02996	valid-merror:0.03030
[29]	train-merror:0.02892	valid-merror:0.02917
[30]	train-merror:0.02890	valid-merror:0.02914
[31]	train-merror:0.02823	valid-merror:0.02852
[32]	train-merror:0.02813	valid-merror:0.02853
[33]	train-merror:0.02694	valid-merror:0.02717
[34]	train-merror:0.02700	valid-merror:0.02737
[35]	train-merror:0.02779	valid-merror:0.02813
[36]	train-merror:0.02628	valid-merror:0.02656
[37]	train-merror:0.02631	valid-merror:0.02671
[38]	train-merror:0.02533	valid-merror:0.02557
[39]	train-merror:0.02350	valid-merror:0.02385
[40]	train-merror:0.02232	valid-merror:0.02273
[41]	train-merror:0.02222	valid-merror:0.02262
[42]	train-merror:0.02211	valid-merror:0.02252
[43]	train-merror:0.02136	valid-merror:0.02178
[44]	train-merror:0.02072	valid-merror:0.02109
[45]	train-merror:0.02036	valid-merror:0.02076
[46]	train-merror:0.01924	valid-merror:0.01976
[47]	train-merror:0.01872	valid-merror:0.01912
[48]	train-merror:0.01854	valid-merror:0.01894
[49]	train-merror:0.01812	valid-merror:0.01846
[50]	train-merror:0.01777	valid-merror:0.01812
[51]	train-merror:0.01757	valid-merror:0.01791
[52]	train-merror:0.01696	valid-merror:0.01740
[53]	train-merror:0.01631	valid-merror:0.01676
[54]	train-merror:0.01477	valid-merror:0.01540
[55]	train-merror:0.01431	valid-merror:0.01490
[56]	train-merror:0.01185	valid-merror:0.01278
[57]	train-merror:0.00918	valid-merror:0.01005
[58]	train-merror:0.00668	valid-merror:0.00757
[59]	train-merror:0.00464	valid-merror:0.00528
[60]	train-merror:0.00349	valid-merror:0.00390
[61]	train-merror:0.00325	valid-merror:0.00366
[62]	train-merror:0.00309	valid-merror:0.00349
[63]	train-merror:0.00296	valid-merror:0.00331
[64]	train-merror:0.00282	valid-merror:0.00318
[65]	train-merror:0.00260	valid-merror:0.00300
[66]	train-merror:0.00250	valid-merror:0.00283
[67]	train-merror:0.00238	valid-merror:0.00273
[68]	train-merror:0.00227	valid-merror:0.00262
[69]	train-merror:0.00214	valid-merror:0.00253
[70]	train-merror:0.00204	valid-merror:0.00249
[71]	train-merror:0.00200	valid-merror:0.00245
[72]	train-merror:0.00192	valid-merror:0.00236
[73]	train-merror:0.00184	valid-merror:0.00222
[74]	train-merror:0.00178	valid-merror:0.00215
[75]	train-merror:0.00169	valid-merror:0.00204
[76]	train-merror:0.00162	valid-merror:0.00192
[77]	train-merror:0.00156	valid-merror:0.00185
[78]	train-merror:0.00153	valid-merror:0.00177
[79]	train-merror:0.00149	valid-merror:0.00177
[80]	train-merror:0.00141	valid-merror:0.00170
[81]	train-merror:0.00135	valid-merror:0.00163
[82]	train-merror:0.00133	valid-merror:0.00156
[83]	train-merror:0.00130	valid-merror:0.00155
[84]	train-merror:0.00124	valid-merror:0.00149
[85]	train-merror:0.00120	valid-merror:0.00141
[86]	train-merror:0.00118	valid-merror:0.00138
[87]	train-merror:0.00113	valid-merror:0.00136
[88]	train-merror:0.00106	valid-merror:0.00133
[89]	train-merror:0.00103	valid-merror:0.00125
[90]	train-merror:0.00098	valid-merror:0.00115
[91]	train-merror:0.00096	valid-merror:0.00113
[92]	train-merror:0.00092	valid-merror:0.00108
[93]	train-merror:0.00089	valid-merror:0.00109
[94]	train-merror:0.00086	valid-merror:0.00104
[95]	train-merror:0.00083	valid-merror:0.00097
[96]	train-merror:0.00077	valid-merror:0.00093
[97]	train-merror:0.00075	valid-merror:0.00087
[98]	train-merror:0.00070	valid-merror:0.00080
[99]	train-merror:0.00064	valid-merror:0.00073
[100]	train-merror:0.00060	valid-merror:0.00066
[101]	train-merror:0.00055	valid-merror:0.00063
[102]	train-merror:0.00053	valid-merror:0.00060
[103]	train-merror:0.00049	valid-merror:0.00059
[104]	train-merror:0.00046	valid-merror:0.00053
[105]	train-merror:0.00043	valid-merror:0.00050
[106]	train-merror:0.00042	valid-merror:0.00050
[107]	train-merror:0.00040	valid-merror:0.00047
[108]	train-merror:0.00038	valid-merror:0.00044
[109]	train-merror:0.00037	valid-merror:0.00043
[110]	train-merror:0.00036	valid-merror:0.00041
[111]	train-merror:0.00033	valid-merror:0.00039
[112]	train-merror:0.00032	valid-merror:0.00039
[113]	train-merror:0.00031	valid-merror:0.00039
[114]	train-merror:0.00030	valid-merror:0.00039
[115]	train-merror:0.00030	valid-merror:0.00038
[116]	train-merror:0.00029	valid-merror:0.00036
[117]	train-merror:0.00029	valid-merror:0.00036
[118]	train-merror:0.00029	valid-merror:0.00036
[119]	train-merror:0.00029	valid-merror:0.00036
[120]	train-merror:0.00029	valid-merror:0.00036
[121]	train-merror:0.00028	valid-merror:0.00036
[122]	train-merror:0.00028	valid-merror:0.00035
[123]	train-merror:0.00028	valid-merror:0.00035
[124]	train-merror:0.00027	valid-merror:0.00035
[125]	train-merror:0.00027	valid-merror:0.00034
[126]	train-merror:0.00027	valid-merror:0.00034
[127]	train-merror:0.00027	valid-merror:0.00034
[128]	train-merror:0.00027	valid-merror:0.00034
[129]	train-merror:0.00027	valid-merror:0.00034
[130]	train-merror:0.00027	valid-merror:0.00033
[131]	train-merror:0.00026	valid-merror:0.00033
[132]	train-merror:0.00026	valid-merror:0.00033
[133]	train-merror:0.00026	valid-merror:0.00033
[134]	train-merror:0.00026	valid-merror:0.00033
[135]	train-merror:0.00026	valid-merror:0.00033
[136]	train-merror:0.00026	valid-merror:0.00033
[137]	train-merror:0.00026	valid-merror:0.00032
[138]	train-merror:0.00025	valid-merror:0.00032
[139]	train-merror:0.00025	valid-merror:0.00031
[140]	train-merror:0.00025	valid-merror:0.00031
[141]	train-merror:0.00025	valid-merror:0.00031
[142]	train-merror:0.00025	valid-merror:0.00031
[143]	train-merror:0.00025	valid-merror:0.00031
[144]	train-merror:0.00025	valid-merror:0.00031
[145]	train-merror:0.00025	valid-merror:0.00031
[146]	train-merror:0.00025	valid-merror:0.00031
[147]	train-merror:0.00025	valid-merror:0.00031
[148]	train-merror:0.00025	valid-merror:0.00030
[149]	train-merror:0.00025	valid-merror:0.00030
[150]	train-merror:0.00025	valid-merror:0.00030
[151]	train-merror:0.00025	valid-merror:0.00030
[152]	train-merror:0.00025	valid-merror:0.00030
[153]	train-merror:0.00025	valid-merror:0.00030
[154]	train-merror:0.00025	valid-merror:0.00030
[155]	train-merror:0.00025	valid-merror:0.00028
[156]	train-merror:0.00025	valid-merror:0.00028
[157]	train-merror:0.00025	valid-merror:0.00028
[158]	train-merror:0.00024	valid-merror:0.00028
[159]	train-merror:0.00024	valid-merror:0.00028
[160]	train-merror:0.00024	valid-merror:0.00028
[161]	train-merror:0.00024	valid-merror:0.00028
[162]	train-merror:0.00024	valid-merror:0.00028
[163]	train-merror:0.00024	valid-merror:0.00028
[164]	train-merror:0.00024	valid-merror:0.00028
[165]	train-merror:0.00024	valid-merror:0.00028
[166]	train-merror:0.00024	valid-merror:0.00028
[167]	train-merror:0.00024	valid-merror:0.00028
[168]	train-merror:0.00024	valid-merror:0.00028
[169]	train-merror:0.00024	valid-merror:0.00028
[170]	train-merror:0.00024	valid-merror:0.00028
[171]	train-merror:0.00024	valid-merror:0.00028
[172]	train-merror:0.00024	valid-merror:0.00027
[173]	train-merror:0.00024	valid-merror:0.00027
[174]	train-merror:0.00024	valid-merror:0.00027
[175]	train-merror:0.00024	valid-merror:0.00027
[176]	train-merror:0.00024	valid-merror:0.00027
[177]	train-merror:0.00024	valid-merror:0.00027
[178]	train-merror:0.00024	valid-merror:0.00026
[179]	train-merror:0.00024	valid-merror:0.00026
[180]	train-merror:0.00024	valid-merror:0.00026
[181]	train-merror:0.00024	valid-merror:0.00026
[182]	train-merror:0.00024	valid-merror:0.00026
[183]	train-merror:0.00024	valid-merror:0.00026
[184]	train-merror:0.00024	valid-merror:0.00026
[185]	train-merror:0.00024	valid-merror:0.00026
[186]	train-merror:0.00024	valid-merror:0.00026
[187]	train-merror:0.00024	valid-merror:0.00026
[188]	train-merror:0.00024	valid-merror:0.00026
[189]	train-merror:0.00024	valid-merror:0.00026
[190]	train-merror:0.00023	valid-merror:0.00026
[191]	train-merror:0.00023	valid-merror:0.00026
[192]	train-merror:0.00023	valid-merror:0.00026
[193]	train-merror:0.00023	valid-merror:0.00026
[194]	train-merror:0.00023	valid-merror:0.00026
[195]	train-merror:0.00023	valid-merror:0.00026
[196]	train-merror:0.00023	valid-merror:0.00026
[197]	train-merror:0.00023	valid-merror:0.00026
[198]	train-merror:0.00023	valid-merror:0.00026
[199]	train-merror:0.00023	valid-merror:0.00026
[200]	train-merror:0.00023	valid-merror:0.00026
[201]	train-merror:0.00023	valid-merror:0.00026
[202]	train-merror:0.00023	valid-merror:0.00026
[203]	train-merror:0.00023	valid-merror:0.00026
[204]	train-merror:0.00023	valid-merror:0.00026
[205]	train-merror:0.00023	valid-merror:0.00026
[206]	train-merror:0.00023	valid-merror:0.00026
[207]	train-merror:0.00023	valid-merror:0.00026
[208]	train-merror:0.00023	valid-merror:0.00026
[209]	train-merror:0.00023	valid-merror:0.00026
[210]	train-merror:0.00023	valid-merror:0.00026
[211]	train-merror:0.00023	valid-merror:0.00026
[212]	train-merror:0.00023	valid-merror:0.00026
[213]	train-merror:0.00023	valid-merror:0.00026
[214]	train-merror:0.00023	valid-merror:0.00026
[215]	train-merror:0.00023	valid-merror:0.00026
[216]	train-merror:0.00023	valid-merror:0.00026
[217]	train-merror:0.00023	valid-merror:0.00026
[218]	train-merror:0.00023	valid-merror:0.00026
[219]	train-merror:0.00023	valid-merror:0.00026
[220]	train-merror:0.00023	valid-merror:0.00026
[221]	train-merror:0.00023	valid-merror:0.00026
[222]	train-merror:0.00023	valid-merror:0.00026
[223]	train-merror:0.00023	valid-merror:0.00026
[224]	train-merror:0.00023	valid-merror:0.00026
[225]	train-merror:0.00023	valid-merror:0.00025
[226]	train-merror:0.00023	valid-merror:0.00025
[227]	train-merror:0.00023	valid-merror:0.00025
[228]	train-merror:0.00023	valid-merror:0.00025
[229]	train-merror:0.00023	valid-merror:0.00025
[230]	train-merror:0.00023	valid-merror:0.00025
[231]	train-merror:0.00023	valid-merror:0.00025
[232]	train-merror:0.00023	valid-merror:0.00025
[233]	train-merror:0.00023	valid-merror:0.00025
[234]	train-merror:0.00023	valid-merror:0.00025
[235]	train-merror:0.00023	valid-merror:0.00025
[236]	train-merror:0.00023	valid-merror:0.00025
[237]	train-merror:0.00023	valid-merror:0.00025
[238]	train-merror:0.00023	valid-merror:0.00025
[239]	train-merror:0.00023	valid-merror:0.00025
[240]	train-merror:0.00023	valid-merror:0.00025
[241]	train-merror:0.00023	valid-merror:0.00025
[242]	train-merror:0.00023	valid-merror:0.00025
[243]	train-merror:0.00023	valid-merror:0.00025
[244]	train-merror:0.00023	valid-merror:0.00025
[245]	train-merror:0.00023	valid-merror:0.00025
[246]	train-merror:0.00023	valid-merror:0.00025
[247]	train-merror:0.00023	valid-merror:0.00025
[248]	train-merror:0.00023	valid-merror:0.00025
[249]	train-merror:0.00023	valid-merror:0.00025
[250]	train-merror:0.00023	valid-merror:0.00025
[251]	train-merror:0.00023	valid-merror:0.00025
[252]	train-merror:0.00023	valid-merror:0.00025
[253]	train-merror:0.00023	valid-merror:0.00025
[254]	train-merror:0.00023	valid-merror:0.00025
[255]	train-merror:0.00023	valid-merror:0.00025
[256]	train-merror:0.00023	valid-merror:0.00025
[257]	train-merror:0.00023	valid-merror:0.00025
[258]	train-merror:0.00023	valid-merror:0.00025
[259]	train-merror:0.00023	valid-merror:0.00025
[260]	train-merror:0.00023	valid-merror:0.00025
[261]	train-merror:0.00023	valid-merror:0.00025
[262]	train-merror:0.00023	valid-merror:0.00025
[263]	train-merror:0.00023	valid-merror:0.00025
[264]	train-merror:0.00023	valid-merror:0.00025
[265]	train-merror:0.00023	valid-merror:0.00025
[266]	train-merror:0.00023	valid-merror:0.00025
[267]	train-merror:0.00023	valid-merror:0.00025
[268]	train-merror:0.00023	valid-merror:0.00025
[269]	train-merror:0.00023	valid-merror:0.00025
[270]	train-merror:0.00023	valid-merror:0.00025
[271]	train-merror:0.00023	valid-merror:0.00025
[272]	train-merror:0.00023	valid-merror:0.00025
[273]	train-merror:0.00023	valid-merror:0.00025
[274]	train-merror:0.00023	valid-merror:0.00025
[275]	train-merror:0.00023	valid-merror:0.00025
[276]	train-merror:0.00023	valid-merror:0.00025
[277]	train-merror:0.00023	valid-merror:0.00025
[278]	train-merror:0.00023	valid-merror:0.00025
[279]	train-merror:0.00023	valid-merror:0.00025
[280]	train-merror:0.00023	valid-merror:0.00025
[281]	train-merror:0.00023	valid-merror:0.00025
[282]	train-merror:0.00023	valid-merror:0.00025
[283]	train-merror:0.00023	valid-merror:0.00025
[284]	train-merror:0.00023	valid-merror:0.00025
[285]	train-merror:0.00023	valid-merror:0.00025
[286]	train-merror:0.00023	valid-merror:0.00025
[287]	train-merror:0.00023	valid-merror:0.00025
[288]	train-merror:0.00023	valid-merror:0.00025
[289]	train-merror:0.00023	valid-merror:0.00025
[290]	train-merror:0.00023	valid-merror:0.00025
[291]	train-merror:0.00023	valid-merror:0.00025
[292]	train-merror:0.00023	valid-merror:0.00025
[293]	train-merror:0.00023	valid-merror:0.00025
[294]	train-merror:0.00023	valid-merror:0.00025
[295]	train-merror:0.00023	valid-merror:0.00025
[296]	train-merror:0.00023	valid-merror:0.00025
[297]	train-merror:0.00023	valid-merror:0.00025
[298]	train-merror:0.00023	valid-merror:0.00025
[299]	train-merror:0.00023	valid-merror:0.00025
[300]	train-merror:0.00023	valid-merror:0.00025
[301]	train-merror:0.00023	valid-merror:0.00025
[302]	train-merror:0.00023	valid-merror:0.00025
[303]	train-merror:0.00023	valid-merror:0.00025
[304]	train-merror:0.00023	valid-merror:0.00025
[305]	train-merror:0.00023	valid-merror:0.00025
[306]	train-merror:0.00023	valid-merror:0.00025
[307]	train-merror:0.00023	valid-merror:0.00025
[308]	train-merror:0.00023	valid-merror:0.00025
[309]	train-merror:0.00023	valid-merror:0.00025
[310]	train-merror:0.00023	valid-merror:0.00025
[311]	train-merror:0.00023	valid-merror:0.00025
[312]	train-merror:0.00023	valid-merror:0.00025
[313]	train-merror:0.00023	valid-merror:0.00025
[314]	train-merror:0.00023	valid-merror:0.00025
[315]	train-merror:0.00023	valid-merror:0.00025
[316]	train-merror:0.00023	valid-merror:0.00025

In [350]:
y_pred = model.predict(valid)

accuracy = accuracy_score(y_val, y_pred)
print("Final model accuracy:", accuracy)

Final model accuracy: 0.9997545695278692

In [354]:
eval(model, X_train=train, X_val=valid)

{'val_acc': 0.9997545695278692, 'train_acc': 0.9997723298407762}

In [ ]:
def objective(params):
    booster = xgb.train(
        params=params,
        dtrain=train,
        num_boost_round=100,
        evals=[(valid, "validation")],
        early_stopping_rounds=20
    )
    y_pred = booster.predict(valid)
    accuracy = accuracy_score(y_val, y_pred)

    return {'loss': -accuracy, 'status': STATUS_OK}

In [ ]:
search_space = {
    'max_depth': scope.int(hp.quniform('max_depth', 4, 100, 1)),
    'learning_rate': hp.loguniform('learning_rate', -3, 0),
    'reg_alpha': hp.loguniform('reg_alpha', -5, -1),
    'reg_lambda': hp.loguniform('reg_lambda', -6, -1),
    'min_child_weight': hp.loguniform('min_child_weight', -1, 3),
    'objective': 'multi:softprob',
    'num_class': 6
}

best_result = fmin(
    fn=objective,
    space=search_space,
    algo=tpe.suggest,
    max_evals=20,
    trials=Trials()
)