In [9]:
import pandas as pd
import numpy as np

In [119]:
data = pd.read_csv('train_kaggle.csv')

C:\Users\malis\AppData\Local\Temp\ipykernel_7808\384884337.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train_kaggle.csv')

In [120]:
data

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
0,10493832.0,Kelaniya,1209.6,756.0,5292.0,4
1,10178643.0,Moratuwa,1590.12,1060.08,6007.12,1
2,10513916.0,Wattala,2288.88,1481.04,9155.52,4
3,10334589.0,Wattala,2274.94,1739.66,9099.76,4
4,10458365.0,Kelaniya,2345.49,2069.55,9243.99,4
...,...,...,...,...,...,...
774150,10197979.0,Gampaha,3893.4,3893.4,3448.44,3
774151,10494575.0,Katunayake,6095.86,5557.99,6275.15,3
774152,10565682.0,Colombo,5121.42,4820.16,4669.53,3
774153,10351977.0,Kandy,6311.76,6311.76,5940.48,3
774154,10637635.0,Negombo,5833.5,6027.95,6611.3,3

In [121]:
data.dtypes

Customer_ID         float64
outlet_city          object
luxury_sales         object
fresh_sales          object
dry_sales            object
cluster_catgeory     object
dtype: object

In [122]:
df = data.copy()

In [123]:
df.isna().sum()

Customer_ID          2
outlet_city          2
luxury_sales        35
fresh_sales         41
dry_sales           30
cluster_catgeory     1
dtype: int64

In [124]:
for column in df.columns:
    print("Column:", column)
    print(df[column].value_counts())
    print()

Column: Customer_ID
Customer_ID
10493832.0    1
10305453.0    1
10129880.0    1
10677155.0    1
10434221.0    1
             ..
10177319.0    1
10045425.0    1
10372098.0    1
10066739.0    1
10637635.0    1
Name: count, Length: 774153, dtype: int64

Column: outlet_city
outlet_city
Colombo                   41031
Batticaloa                41012
Galle                     41010
Kalmunai                  40711
Negombo                   40703
Jaffna                    40675
Katunayake                40649
Kandy                     40534
Trincomalee               40528
Gampaha                   40252
Peliyagoda                37151
Nuwara Eliya              37102
Dehiwala-Mount Lavinia    36839
Kotte                     36788
Panadura                  36726
Wattala                   36721
Kaduwela                  36695
Homagama                  36639
Moratuwa                  36417
Kelaniya                  35970
Name: count, dtype: int64

Column: luxury_sales
luxury_sales
1029.6     62
1411.2     47
1224       47
1386       46
1123.2     45
           ..
2518.24     1
3231.52     1
2138.8      1
2852.47     1
5833.5      1
Name: count, Length: 143897, dtype: int64

Column: fresh_sales
fresh_sales
4296.6     28
6013.92    28
6193.44    26
1018.8     25
8774.04    25
           ..
1544.9      1
2910.0      1
2937.15     1
3107.0      1
4820.16     1
Name: count, Length: 257030, dtype: int64

Column: dry_sales
dry_sales
9168.72    23
3506.58    21
5085.3     21
7782.72    21
4158.0     21
           ..
4090.54     1
4220.48     1
4625.7      1
2594.25     1
6611.3      1
Name: count, Length: 270131, dtype: int64

Column: cluster_catgeory
cluster_catgeory
1        188975
6        169206
2        155060
4        131039
3         48906
4         41400
5         39531
5             9
1             9
6             8
2             4
3             1
6\            1
95            1
98            1
99            1
100.0         1
89.0          1
Name: count, dtype: int64

In [125]:
df.cluster_catgeory.unique()

array(['4', '1', '99', '2', '5', '3', '6', '6\\', 4, 2, 1, 95, 3, 98, 5,
       6, nan, 100.0, 89.0], dtype=object)

In [126]:
df.loc[df["cluster_catgeory"] == '6\\', "cluster_catgeory"] = 6

In [127]:
df["cluster_catgeory"] = df["cluster_catgeory"].fillna(0)

In [128]:
df["cluster_catgeory"] = df["cluster_catgeory"].astype(int)

In [129]:
clusters = [1, 2, 3, 4, 5, 6]
df = df[df["cluster_catgeory"].isin(clusters)]

In [130]:
df["cluster_catgeory"] = df["cluster_catgeory"].astype(str)

In [131]:
df = df.dropna(subset=["outlet_city"])

In [136]:
df = df.drop("Customer_ID", axis=1)

In [147]:
def check(column):
    for value in df[column]:
        try:
            # Attempt to convert the value to an integer
            int_value = float(value)
        except ValueError:
            # If conversion fails, add the value to the list
            #non_integer_values.append(value)
            print(value)

In [148]:
check("")

Six hundread and five ruppes
nul
nul
Three thousana and five hundread
nul
nul
thirteen thousand ruppes
Five thousand ruppes
Two thousand seven hundread ruppess

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 774147 entries, 0 to 774154
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   outlet_city       774147 non-null  object
 1   luxury_sales      774112 non-null  object
 2   fresh_sales       774106 non-null  object
 3   dry_sales         774117 non-null  object
 4   cluster_catgeory  774147 non-null  object
dtypes: object(5)
memory usage: 35.4+ MB